# Exclude data
data/

# Exclude .terraform directories
.terraform/

# Exclude all terraform state files
terraform.tfstate
terraform.tfstate.backup

.terraform.lock.hcl

.idea/
.gradle/
build/

*.iml
*.log
*.class
out/